@{
    ViewData["Title"] = "About Us";
}
<h3>@ViewData["Title"]</h3>
<img src="~/images/About.jpg" width="100%" />
<p>Online Shopping Store does not just sell lifestyle products, Online Shopping Store is here to become a lifestyle!</p> <br />
<p>Be it simple, casual or luxurious; trendy, unique or traditional, Online Shopping Store  presents you all. Daily lives, occasions, needs and necessities, celebrations, desires. Online Shopping Store checks it all off. We believe life is not made up of days but each day is a realm of life, where every second is a different color and every color represents Online Shopping Store! </p> <br />
<p>Our prime focus is the youth, referred colloquially as the “Online Shopping Store generation” and we are here to be a part of their lives, not just by selling the brands which rest under their hood but also by writing a part of their daily life stories.</p><br />
<p>Online Shopping Store is that little spark of fun springing out of a droning afternoon, that unconscious twist of hair made while losing yourself in thoughts of wonderland, rocking the floor with confidence being no one but yourself or the three sips of tea turning into a moment of a lifetime with the right people – it is all Online Shopping Store.</p><br />
<p>We present a one-stop lifestyle platform, holding products of various local and international brands together. The different deals offered whole year round, lets buyers get the best products at lowest prices and the sellers promote and build their brands big.</p><br />