@{
    ViewData["Title"] = "Contact Us";
}
<h3>@ViewData["Title"]</h3>
<img src="~/images/Contact.jpg" width="100%"  />
<p>We would like to receive your feedback about our site and any question or comment. Keep in contact wth us and feel free to express any opinion, viewpoint, suggestion or comment that you might have.</p>
<p>For any enquiry, please call this number: <strong> 01736637418</strong> </p>
<p> Email Address: <strong> support@eGreoceryshop.com</strong></p>
<p>Fax: <strong> +88-02-8901475, +88-02-8901881</strong></p>

