@{
    ViewData["Title"] = "Privacy Policy";
}
<h4>@ViewData["Title"]</h4>
<img src="~/images/Privacy.jpg" width="100%" />
<h4 align="justify">1.Types of Personal Information We Collect</h4>Personal Information is information that can be used to identify, locate, or contact an individual.It also includes other information that may be associated with Personal Information. We collect the following types of Personal Information:<br /> <br />
<h7> <strong>Contact Information</strong> that allows us to communicate with you, such as your name,  addresses, email addresses, website user account names, telephone numbers, or other addresses at which you receive communications from or on behalf of Online Shopping Store.</h7> <br /> <br />
<h7> <strong>Transaction Information</strong> about how you purchase</h7> <br />
<h4>2. How Online Shopping Store Collects Personal Information</h4>
<h7>We ask you for Personal Information when you register, create an account, order a deal, or otherwise interact with the Sites or contact.</h7> <br /> <br />
<h4> 3. How Online Shopping Store Uses Personal Information</h4>
<h7 align="justify">
    <ul>
        <li>Operate and improve our Sites</li>
        <li>Provide customers with offers for products and services</li>
        <li>Process orders, including purchase and redemption</li>
        <li>Provide customer support, including to our merchants or business partners</li>
        <li>Fulfill requests for services</li>
        <li>Communicate and provide additional information that may be of interest to you, such as news, special offers and coupons, announcements, and marketing materials </li>
        <li>Send you reminders, technical notices, updates, security alerts and support and administrative messages service bulletins, or marketing</li>
    </ul>
</h7>
<h4>4. When Online Shopping Store Discloses Personal Information</h4>
<h7>We will not disclose your Personal Information to third parties.</h7>